extends ./layout/index

block content 
  main.container.mt-5 
    .row 
      .col-md-5 
        img(src="img/nosotros.jpg", alt="About", class="img-fluid")
      .col-md-7
        h1= page
        blockquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, autem. Incidunt, aut provident dolorum sapiente, eaque dignissimos voluptatum culpa iste quae, consequuntur sunt explicabo nemo assumenda voluptas. Esse, harum. Quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, molestiae veritatis, ab sunt reiciendis a numquam unde distinctio vel, ullam quis sit blanditiis veniam provident ipsum fugit dolorem ipsa tempore!

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quae architecto et ea asperiores ab blanditiis facilis, nisi quo veniam minus ex molestiae iusto eaque expedita? Fugit adipisci ut omnis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. 

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eos temporibus nulla qui ut sequi ipsam error iure, consequuntur, dolor nam cum debitis laudantium aliquam ea corporis id architecto reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit.

  .listado-iconos
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="security icon", class="img-fluid mb-4")
          h2.mb-4 Security 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eos sit voluptatum adipisci officia optio quaerat accusamus consectetur minima, natus veritatis quis corrupti molestiae nostrum nihil, ducimus quod minus enim!
          
        .col-md-4 
          img(src="img/icono_destinos.svg", alt="destinations icon", class="img-fluid mb-4")
          h2.mb-4 Best destinations 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eos sit voluptatum adipisci officia optio quaerat accusamus consectetur minima, natus veritatis quis corrupti molestiae nostrum nihil, ducimus quod minus enim!

        .col-md-4 
          img(src="img/icono_precios.svg", alt="price icon", class="img-fluid mb-4")
          h2.mb-4 The best prices
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eos sit voluptatum adipisci officia optio quaerat accusamus consectetur minima, natus veritatis quis corrupti molestiae nostrum nihil, ducimus quod minus enim!