footer.container.py-5
  .row 
    .col-md-6 
      .nav.nav.footer.justify-content-center.justify-content-md-start 
        a.nav-link(href="/travels") Travels
        a.nav-link(href="/testimonials") Testimonials
        a.nav-link(href="/about") About
    .col 
      p.copyright.text-center.text-md-right 
        | ©
        span= actualYear 
        |  Tramora - All rights reserved 